<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>회원등급 게시판</title>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <style>
        tr.text-center th {
            text-align: center;
        }

        tr.text-center td {
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#searchBtn").click(function(){
                if($("#searchWord").val() != "" && $("#searchType").val() == "") {
                    alert("검색 종류를 선택해주세요");
                } else {
                    $("#searchForm").submit();
                }
            });
        });
    </script>

</head>
<body>
<div class="container">
    <th:block th:include="/include/common :: boardTitle()" />

    <!--
    <div sec:authorize="customHasRole('ASSOCIATE_MEMBER')">준회원 hasRoleTest</div>
    <div sec:authorize="customHasRole('REGULAR_MEMBER')">정회원 hasRoleTest</div>
    <div sec:authorize="customHasRole('ADMIN')">관리자 hasRoleTest</div>
    -->
    <th:block th:include="/include/menu :: topmenu()" />
    <form id="searchForm" name="searchForm" method="get" th:object="${searchDTO}">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-2">
                <div class="form-group ">
                    <select id="searchType" name="searchType" class="form-control" th:field="*{searchType}">
                        <option value="">선택해주세요</option>
                        <option value="title">제목</option>
                        <option value="contents">내용</option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <input type="text" class="form-control" name="searchWord" th:field="*{searchWord}" placeholder="검색어를 입력해주세요">
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" id="searchBtn" class="btn btn-primary btn-block">검색</button>
            </div>
        </div>
    </form>
    <table class="table table-hover">
      <thead>
        <tr class="text-center">
          <th class="col-md-1"><input type="checkbox" id="allchk" value="Y"></th>
          <th class="col-md-1">번호</th>
          <th class="col-md-6">제목</th>
          <th class="col-md-2">작성자</th>
          <th class="col-md-2">등록일자</th>
        </tr>
      </thead>
      <tr th:if="${result.totalElements == 0}">
        <td class="text-center" colspan="5" th:text="#{board.noresults}">검색된 결과가 없습니다12345</td>
      </tr>
      <tr th:if="${result.totalElements > 0}" th:each="board,iter : ${result.content}">
        <td class="text-center"><input type="checkbox" name="delchk" th:value="${board.idx}" value="Y"></td>
        <td class="text-center" th:text="${result.totalElements - (result.number * result.size) - iter.index}">20</td>
        <td th:with="url='/board/' + ${boardType} + '/view.html'">
          <a th:queryStringLink="@{${url}(idx=${board.idx})}" href="view.html" th:text="${board.title}">게시물 제목</a>
        </td>
        <td th:text="${board.loginId}" class="text-center">작성자아이디</td>
        <td class="text-center" th:text="${#temporals.format(board.createDT, 'yyyy-MM-dd')}">2018-03-10</td>
      </tr>
    </table>
    <a id="btnwrite" th:queryStringLink="@{'/board/' + ${boardType} + '/write.html'}" class="btn btn-default pull-right">글쓰기</a>
    <div th:if="${result.totalPages > 0}" th:with="url='/board/' + ${boardType} + '/list.html'" class="text-center">
      <th:block th:include="/include/pagination :: pagination(${result.number} + 1, ${result.size}, ${result.totalPages}, 10, ${url})"></th:block>
    </div>
</div>
</body>
</html>