<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>회원등급 게시판</title>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <style>
        tr.text-center th {
            text-align: center;
        }

        tr.text-center td {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <th:block th:switch="${boardType}">
        <h1 th:case="'associate'">준회원 게시판</h1>
        <h1 th:case="'regular'">정회원 게시판</h1>
        <h1 th:case="'admin'">관리자 게시판</h1>
    </th:block>

    <!--
    <div sec:authorize="customHasRole('ASSOCIATE_MEMBER')">준회원 hasRoleTest</div>
    <div sec:authorize="customHasRole('REGULAR_MEMBER')">정회원 hasRoleTest</div>
    <div sec:authorize="customHasRole('ADMIN')">관리자 hasRoleTest</div>
    -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="/board/associate/list.html">준회원 게시판</a></li>
                <li><a href="/board/regular/list.html">정회원 게시판</a></li>
                <li><a href="/board/admin/list.html">관리자 게시판</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/login.html}">로그인</a></li>
                <li sec:authorize="isAuthenticated()"><a href="#" sec:authentication="name">로그인 아이디</a></li><!-- 로그인 아이디 정보를 가져올때 -->
                <!-- <li sec:authorize="isAuthenticated()"><a href="#" th:text="${#authentication.principal.getMember().getName()}">로그인 아이디</a></li> --><!-- 로그인한 사용자 이름등 spring security에서 취급하지 않는 정보를 가져올때 -->
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout.html}">로그아웃</a>
                </li>
            </ul>
        </div>
    </nav>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-1"><input type="checkbox" id="allchk" value="Y"></th>
          <th class="col-md-1">번호</th>
          <th class="col-md-6">제목</th>
          <th class="col-md-2">작성자</th>
          <th class="col-md-2">등록일자</th>
        </tr>
      </thead>
      <tr th:if="${result.totalElements == 0}">
        <td class="text-center" colspan="5" th:text="#{board.noresults}">검색된 결과가 없습니다12345</td>
      </tr>
      <tr th:if="${result.totalElements > 0}" th:each="board,iter : ${result.content}">
        <td class="text-center"><input type="checkbox" name="delchk" value="Y"></td>
        <td class="text-center" th:text="${result.totalElements - (result.number * result.size) - iter.index}">20</td>
        <td>
          <a th:queryStringLink="@{/board/view.html(idx=${board.idx})}" href="view.html" th:text="${board.title}">게시물 제목</a>
        </td>
        <td th:text="${board.loginId}" class="text-center">작성자아이디</td>
        <td th:text="${#temporals.format(board.createDT, 'yyyy-MM-dd')}" class="text-center">2018-03-10</td>
      </tr>
    </table>
    <a id="btnwrite" th:href="@{'/board/' + ${boardType} + '/write.html'}" class="btn btn-default pull-right">글쓰기</a>
    <div th:if="${result.totalPages > 0}" class="text-center">
      <th:block th:include="/include/pagination :: pagination(${result.number} + 1, ${result.size}, ${result.totalPages}, 10, '/board/list.html')"></th:block>
    </div>
</div>
</body>
</html>