<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>회원등급 게시판</title>
    <style>
        tr.text-center th {
            text-align: center;
        }

        tr.text-center td {
            text-align: center;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function(){

        });
    </script>
</head>
<body>
<div class="container">
    <th:block th:include="/include/common :: boardTitle()" />
    <th:block th:include="/include/menu :: topmenu()" />

    <table class="table table-bordered" style="table-layout: fixed">
        <tr>
            <td class="text-center col-md-2">제목</td>
            <td class="col-md-10" th:text="${board.title}"></td>
        </tr>
        <tr>
            <td class="text-center">내용</td>
            <td th:utext="${board.contents}">내용입니다</td>
        </tr>
        <tr>
            <td class="text-center">파일</td>
            <td>파일 리스트</td>
        </tr>
    </table>
    <div class="text-center">
        <a id="updbtn" class="btn btn-default">수정</a>
        <a id="listbtn" class="btn btn-default">목록</a>
    </div>

</div>
</body>
</html>