<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>회원등급 게시판</title>
    <style>
        tr.text-center th {
            text-align: center;
        }

        tr.text-center td {
            text-align: center;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
    <link href="../../../static/summernote/summernote.css" th:href="@{/summernote/summernote.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js" th:src="@{/webjars/jquery-form/4.2.1/jquery.form.min.js}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script src="../../../static/summernote/summernote.js" th:src="@{/summernote/summernote.js}"></script>
    <script src="../../../static/summernote/lang/summernote-ko-KR.js" th:src="@{/summernote/lang/summernote-ko-KR.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            $("#contents").summernote({
                lang: 'ko-KR',
                height: 300,
                minHeight: null,
                maxHeight: null,
                focus: true,
                placeholder: '내용을 작성해주세요',
                fontName: '굴림',
                // 폰트를 임의로 설정하더라도 Helvetica 폰트가 추가되는데 그 이유는 summernote가 body 태그에 style로 설정되어 있는 font를 자동으로 추가하기 때문이다
                // Helvetica 폰트는 bootstrap에서 body 태그에 style로 font를 설정해줘서 summernote 에서 이 font가 추가되면서 default로 선택이 되게끔 한 것이다
                fontNames: ['굴림', '궁서', '돋움'],
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontface', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert', ['picture', 'link', 'video', 'table', 'hr']],
                    ['view', ['codeview']]
                ],
                callbacks: {
                    onImageUpload: function(files, editor, welEditable) {
                        imageUpload(files[0], editor, welEditable);
                    }
                }
            });

            $("#form").ajaxForm({
                dataType:  "json",
                url: "/board/" + [[${boardType}]] + "/write.html",
                beforeSubmit : checkForm,
                success : function(responseText, statusText, xhr, $form){
                    /* <![CDATA[ */
                    // thymeleaf 에서 inline으로 escape 문자까지 처리해서 보여주려 할땐 [[${abc}]] 으로 설정하면 앞뒤로 쌍따옴표를 붙인 문자열이 나온다
                    // thymeleaf 에서 inline으로 escape 문자를 처리하지 않고자 할땐 [(${abc})]을 사용하면 앞뒤로 쌍따옴표를 붙이지 않은 문자열이 나온다
                    // 여기서 abc는 모델변수명임
                    location.href="/board/" + [[${boardType}]] + "/list.html";
                    /* ]]> */
                },
                error : function(xhr, textStatus){
                    alert("등록에 실패했습니다");
                }
            });

            $("#regbtn").click(function(){
               $("#form").submit();
            });

            $("#resetbtn").click(function(){
                $("#contents").summernote('reset');
            });
        });

        function imageUpload(file, editor, welEditable) {
            var data = new FormData();
            data.append("image", file);
            $.ajax({
                data : data,
                type : "POST",
                url : "/board/imageUpload.html",
                cache : false,
                contentType : false,
                processData : false,
                success : function(imageUrl) {
                    var image = $("<img>").attr("src", imageUrl);
                    $("#contents").summernote("insertNode", image[0]);
                    // editor.insertImage(welEditable, imageUrl);
                },
                error : function(error) {
                    console.log(error);
                }
            });
        }

        function checkForm() {
            var result = true;
            if($("#title").val() == "") {
                alert("제목을 작성해주세요");
                $("#title").focus();
                result = false;
            } else if($("#contents").summernote('isEmpty')) {
                alert("내용을 작성해주세요");
                $("#contents").summernote('focus');
                result = false;
            }

            return result;
        }
    </script>
</head>
<body>
<div class="container">
    <th:block th:include="/include/common :: boardTitle()" />
    <!--<h1><span th:text="회원등급 등록 ${type}">회원등급 게시판</span></h1> -->
    <th:block th:include="/include/menu :: topmenu()" />
    <form id="form" action="write.html" method="post" enctype="multipart/form-data">
        <table class="table table-bordered" style="table-layout: fixed">
            <tr>
                <td class="text-center col-md-2">제목</td>
                <td class="col-md-10">
                    <input type="text" id="title" name="title" class="form-control" placeholder="제목을 작성해주세요"/>
                </td>
            </tr>
            <tr>
                <td class="text-center">내용</td>
                <td>
                    <textarea id="contents" name="contents"></textarea>
                </td>
            </tr>
            <tr>
                <td class="text-center">파일</td>
                <td>
                    <input type="file" id="file1" name="boardFile" />
                    <input type="file" id="file2" name="boardFile" />
                    <input type="file" id="file3" name="boardFile" />
                    <input type="file" id="file4" name="boardFile" />
                    <input type="file" id="file5" name="boardFile" />
                </td>
            </tr>
        </table>
        <div class="text-center">
            <a id="regbtn" class="btn btn-default">등록</a>
            <a id="resetbtn" class="btn btn-default">재작성</a>
            <a id="listbtn" class="btn btn-default" th:queryStringLink="@{'/board/' + ${boardType} + '/list.html'}">목록</a>
        </div>
    </form>
</div>
</body>
</html>