<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>고객목록</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h1 th:text="'메인화면' + ${test}">메인화면</h1>
    <nav class="navbar navbar-default">
  		<div class="container-fluid">
		    <ul class="nav navbar-nav">
		    	<li><a href="#">Home</a></li>
		      	<li><a href="#">준회원 게시판</a></li>
		      	<li><a href="#">정회원 게시판</a></li>
		      	<li><a href="#">관리자 게시판</a></li>
			    <li sec:authorize="isAnonymous()"><a th:href="@{/login.html}">로그인</a></li>
			    <li sec:authorize="isAuthenticated()"><a href="#" sec:authentication="name">로그인 아이디</a></li>
			    <li sec:authorize="isAuthenticated()">
			    	<a th:href="@{/logout.html}">로그아웃</a>
			    </li>
			</ul>
		</div>
	</nav>
</div>
<!-- 
<li sec:authorize="isAuthenticated()"><span sec:authentication="name">로그인 아이디</span></li>
-->
<!-- 
<span sec:authentication="name" />님<a th:href="@{/logout.html}">로그아웃</a>
 -->
</body>
</html>